{% load static %}
<form action="{% url 'login' %}" method="post" class="FRI" id="loginForm">
    {% csrf_token %}
    <h3>INGRESO</h3>

    <label for="id" class="LVFRI">IDENTIFICACION</label>
    <input type="text" placeholder="INGRESE SU IDENTIFICACION" id="id" name="id" pattern="[A-Za-z0-9]+" required class="INFRI">

    <label for="pass" class="LVFRI">CONTRASEÑA</label>
    <input type="password" placeholder="INGRESE SU CONTRASENA" id="pass" name="pass" pattern="[A-Za-z0-9]+" required class="INFRI">
    <button type="button" class="BTNFRI" onclick="mostrarLoader()">INGRESAR</button>
  </form>
  <div id="loader" style="display: none;">
      <img src="{% static 'resources/img/loader.gif' %}" alt="Cargando...">
      <p>Cargando...</p>
  </div>